<table class="table table-striped">
    <thead>
        <tr>
            <th>Task</th>
            <th>Name</th>
            <th>Operation</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks$ | async">
            <td>{{task.name}}</td>
            <td>{{task.description}}</td>
            <td>
                <button class="btn btn-primary" (click)="editTask(task)">Edit</button>
                <button class="btn btn-danger" (click)="deleteTask(task)" style="margin-left: 5px;">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
{{inputTask | json}}